-
  var mainPage = false;
  var outstaffingPage = true;
  var pathJs = "outstaffing"
  var pathCss = "outstaffing"
  var ogUrlSite = process.env.OG_URL;
  
  var openGraphMeta = {
    title: "Аутстаффинг разработки на python",
    type: "article",
    locale: "ru_RU",
    description: "Аутстаффинг python разработчиков - аренда программистов | Компания «Work Solutions»",
    image: ogUrlSite + "/i/og/og-image.png",
    url: ogUrlSite + "/outstaffing-python/",
    siteName: "Work Solutions"
  }

  var servicesItemsText = [
    'Подготовка технического решения',
    'Разработка бизнес-логики',
    'Перевод легаси-кода, глубокий рефакторинг',
    'Оптимизация продуктов',
    'Создание и реализация различных API',
    'Поддержка и развитие инфраструктурных продуктов',
    'Кэширование',
    'Экспорт/импорт данных',
    'Автоматизация бизнес-процессов'
  ]

  var titleFirst = [
    {text: 'аутстаффинг', highlighted: false},
    {text: 'разработчиков', highlighted: false},
    {text: 'на Python', highlighted: false}
  ]

  var developmentTypes = [
    {name: 'Backend разработка', link: "/outstaffing-backend/"},
    {name: 'Frontend разработка', link: "/outstaffing-frontend/"},
    {name: 'Laravel разработка', link: "/outstaffing-laravel/"},
    {name: 'React разработка', link: "/outstaffing-react/ "},
  ]

  var backTechnologies = {
    techs: [
      {icon: '/i/technologies/django', techTitle: 'Django'},
      {icon: '/i/technologies/flask', techTitle: 'Flask'},
      {icon: '/i/technologies/asyncio', techTitle: 'Asyncio'},
    ]
  }

  var teamTitle = "Наши Python разработчики"

  var customServices = [
    {
      title: 'Усиливаем вашу команду',
      desc: 'Войдем в проект командой или одним разработчиком, интегрируемся с вашими менеджерами, разработчиками на Django и Flask и другими специалистами.'
    },
    {
      title: 'Разрабатываем нетиповые проекты на Python',
      desc: 'Справимся со сложным разворотом. Разберемся в инфраструктуре и предметной области.'
    },
    {
      title: 'Используем подход Time & Materials',
      desc: 'Вы оплачиваете только фактически затраченное время специалистов над проектом. Оплата производится ежемесячно по факту выполненных работ.'
    }
  ]

  var customSelectionCards = [{
    title: "Анали&shy;зируем сложность задач",
    position: "1",
    isLast: false
  }, {
    title: "Подбираем специалистов на Python по стеку и опыту",
    position: "2",
    isLast: false
  }, {
    title: "Назначаем дату собеседования",
    position: "3",
    isLast: false
  }, {
    title: "Согласо&shy;вываем детали сотрудничества",
    position: "4",
    isLast: false
  }, {
    title: "Вводим специалиста на проект",
    position: "5",
    isLast: true
  }]

  var outstaffPricesContext = {
    minWage: "1 800",
  }
  var description = 'Вам нужен аутстаффинг python? Можете смело доверить свой проект нам. 32 сотрудника! 12 лет на рынке! Узкая специализация!';
  //- var description = 'Вам нужен аутстаффинг python? Можете смело доверить свой проект нам. 32 сотрудника! 12 лет на рынке! Узкая специализация! Звоните 8(863)270-16-44';

  
include includes/_

+structure(
  'Аутстаффинг python разработчиков - аренда программистов | Компания «Work Solutions»',
  description,
  'Контакты, Work Solutions, Телефон, Адрес, Почта, Рабочие решения',
  '',
  {
    footer: true
  },
  openGraphMeta
)
  +firstScreenOutstaffing(titleFirst)
  +certificationDevelopers('Сертифика&shy;ция разработчиков')
  +outstaffBenefits('Преимущес&shy;тва аутстаф&shy;финга Python разработ&shy;чиков в компании «Work solutions»')
  +reviews('Отзывы')
  +outstaffServices("Наши услуги по Python разработке" , servicesItemsText)
  +approachToWork(customServices)
  +selectionOfSpecialists(customSelectionCards)
  +technologiesSeparateStack(backTechnologies, 'Стек Python разработки')
  +ourPartners
  +outstaffPrices('python', outstaffPricesContext)
  +outstaffSeeAlso(developmentTypes)
