mixin mainImage()
    div.receipt-ocr_image-wrapper
        div.receipt-ocr_image-sub-wrapper.receipt-ocr_clock-wrapper
            img.receipt-ocr_main-image(class="lazyload", data-src='../../i/receipt-ocr/clock.svg', alt='')
