mixin article()
    div.receipt-ocr_other_wrapper
        h2.receipt-ocr_other_h2 Здесь находится SEO-статья небольшого размера
        p.receipt-ocr_other_p-italic Все стили, ширина, поведение, как у аналогичных блоков из Блога
        p.receipt-ocr_other_p Может показаться, что сборник постов — не лучшая идея для книги, но не в этом случае. Книга «Стартап» расскажет о современном бизнесе намного больше, чем большинство деловых бестселлеров, потому что сотня реальных кейсов — намного лучше, чем красиво изложенная теория.
        h3.receipt-ocr_other_h3 Плюсы:
        p.receipt-ocr_other_p Описаны десятки кейсов, которые формируют представление о том, что такое стартапы. Книга показывает, каким образом возникают идеи для бизнеса и помогает понять, как на них заработать.
        h3.receipt-ocr_other_h3 Минусы:
        p.receipt-ocr_other_p Не хватило выводов из каждого раздела. Например, что образовательные стартапы работают по таким-то моделям, а привлекают пользователей таким-то образом. Читателю придется проделать эту работу самому. Хотя, может, это и к лучшему.
        h2.receipt-ocr_other_h2 М. Мэлоун, С. Исмаил, Ю. Геест, «Взрывной рост»
        p.receipt-ocr_other_p-italic.noMargin Авторы пишут, чем отличаются компании прошлого от нынешних и каким образом построить современную организацию.
