mixin otherDemoCard()
        a.receipt-ocr_other-demo-card_wrapper
            div.receipt-ocr_other-demo-card_image-wrapper
            div.receipt-ocr_other-demo-card_content
                div.receipt-ocr_other-demo-card_title
                div.receipt-ocr_other-demo-card_text
                div.receipt-ocr_other-demo-card_button-wrapper
                    img.receipt-ocr_other-demo-card_button-icon
                    div.receipt-ocr_other-demo-card_button-text

