+b.social-menu__link
    +e.element
        +e.A.link(href="https://habr.com/ru/users/worksolutions/posts/", target="_blank")
            include ../icons/social_habr
    +e.element
        +e.A.link(href="https://vc.ru/u/277663-work-solutions", target="_blank")
            include ../icons/social_vc
    +e.element
        +e.A.link(href="https://github.com/worksolutions", target="_blank")
            include ../icons/social_git

