+e.logo-ws._large
    +e.A.img-log(href="/")
        include ../icons/logo-big
+e.logo-ws._mid
    +e.A.img-log(href="/")
        include ../icons/logo-mid
+e.logo-ws._small
    +e.A.img-log(href="/")
        include ../icons/logo-small