mixin risks(attributes)
  -
    var riskItems = [
    {
    title: 'Исчерпание бюджета еще до выпуска продукта',
    actions: [
    'Предупреждаем о дисбалансе в производственном графике в момент его возникновения',
    'Предлагаем оптимизацию состава работ, чтобы завершить проект любой ценой'
    ]
    },
    {
    title: 'Неготовность инфраструктуры для запуска',
    actions: [
    'Даем рекомендации о том, кого нанять и какое оборудование подготовить для запуска проекта',
    'Проверяем возможности для интеграции и другие технические аспекты на этапе формирования ТЗ'
    ]
    },
    {
    title: 'Дефицит времени у клиента для участия в проекте',
    actions: [
    'Определяем ответственных лиц с фиксацией их функций и обязанностей в графике работ',
    'Предлагаем замену, если ответственные лица не соблюдают эти договоренности'
    ]
    },
    {
    title: 'Потеря интереса к проекту со стороны владельца',
    actions: [
    'Показываем все промежуточные результаты',
    'Регулярно сверяемся с бизнес-целями',
    'Анализируем обратную связь от целевой аудитории',
    'Поддерживаем в актуальном состоянии оценки перспектив проекта',
    'Вовлекаем представителей заказчика в процесс разработки'
    ]
    },
    {
    title: 'Затянувшиеся корректировки /доработки',
    desc: 'Возвращаемся к самому первому риску:',
    actions: [
    'Предупреждаем о дисбалансе в производственном графике в момент его возникновения',
    'Предлагаем оптимизацию состава работ, чтобы завершить проект любой ценой'
    ]
    },
    {
    title: 'Против рисков есть 3 универсальных приема',
    actions: [
    'Выявление и фиксация на раннем этапе, до возникновения',
    'Знание, как этот риск избежать',
    'Наличие альтернативных вариантов на случай, если риск сработает'
    ],
    resume: 'Такой подход гарантированно приведет к нужному результату'
    }
    ]

  +b.SECTION.risks.section.section_dark&attributes(attributes)
    +e.in.section__in
      +e.title-wrapper.section__title-wrapper
        +e.H2.title.section__title.section__title_single.js-animate-title#risks Как управляем рисками
      +e.UL.list
        each riskItem in riskItems
          +e.LI.item
            +e.H3.item-title= riskItem.title
            if riskItem.desc
              +e.P.item-desc= riskItem.desc
            +e.UL.actions-list
              each action in riskItem.actions
                +e.LI.actions-item= action
            if riskItem.resume
              +e.P.resume= riskItem.resume
