$mainGray: #F9FAFD;
$mainBlue: #56B8FF;
$grayDark: #252525;
$grayWithBlueBlog: #637899;
$grayWithBlueArticle: #A3B3CC;
$gray: #818181;
$lightgray: #CFCFCF;
$darkgray: #323232;

$mainBgColor: $mainGray;
$mainDecorColor: $mainBlue;
$mainTextColor: $grayDark;
$secondaryTextColor: $grayWithBlueBlog;
$thirdTextColor: $gray;
$disabledColor: $lightgray;
$dividerColor: $grayWithBlueArticle;

//===site colors
$blue1: #99CFFF !global;
$blue2: #56B8FF !global;
$blue3: #249AEF !global;
$blue4: #53B4FA !global;

$blueLight1: #8FD7FF !global;

$grayBlue1: #F9FAFD !global;
$grayBlue2: #F2F5FA !global;
$grayBlue3: #DBE3F0 !global;
$grayBlue4: #A3B3CC !global;
$grayBlue5: #637899 !global;
$grayBlue6: #27303F !global;

$gray1: #FAFAFA !global;
$gray2: #EEEEEE !global;
$gray3: #CFCFCF !global;
$gray4: #818181 !global;
$gray5: #252525 !global;

$darkBlue1: #414D64 !global;
$darkBlue2: #1C1F26 !global;
$darkBlue3: #0F1115 !global;

$red: #FA9A9A !global;
$purple: #8383D6 !global;