include ../../../../node_modules/bemto.pug/bemto
include teamSliderDesc
include teamSliderMobile
include teamMixin

+teamMixin("Наши frontend разработчики")
script window.teamPeople = !{JSON.stringify(teamPeople)};
