include ../../../../node_modules/bemto.pug/bemto
include teamSliderDesc
include teamSliderMobile
include teamGrid

+b.SECTION.team.section.section_light
  +e.in.section__in
    +e.title-wrapper.section__title-wrapper
      +e.H2.title.section__title.js-animate-title#team Кто реализует проекты
      +e.P.title-desc.section__title-desc Команда
    +teamSlider()
    +teamCarousel()
    +teamGrid()
    +e.P.desc Получите подробные резюме и ставки наших специалистов
    +e.btn-wrapper
      +e.BUTTON.btn.button.js-modal-call(data-modal="resume", type="button")
        span.button__text.button__text_desktop Получить резюме и ставки
        span.button__text.button__text_mobile Получить резюме
script window.teamPeople = !{JSON.stringify(teamPeople)};
