mixin outstaffSeeAlsoCard(developmentType)
  a.see-also__card(href=developmentType.link)
    .see-also__card-wrapper
      .see-also__card-title Аутстафф
      .see-also__dev-type=developmentType.name
