svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg").icon-block
    path(
        d="M4.58008 12.59L9.17008 8L4.58008 3.41L6.00008 2L12.0001 8L6.00008 14L4.58008 12.59Z"
        fill="inherit"
    )

