svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg").icon-block
    path(
        d="M14.1224 12.0012L24.0023 2.12132L21.8809 0L12.0011 9.87987L2.12132 0.000121355L0 2.12144L9.87975 12.0012L0 21.8809L2.12132 24.0023L12.0011 14.1225L21.8809 24.0024L24.0023 21.8811L14.1224 12.0012Z"
        fill="inherit"
    )
