svg(class="drop-up-icon" width="100%" height="100%" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M2.20008 7.70996L6.79008 3.11996L11.3801 7.70996L12.7901 6.28996L6.79008 0.289961L0.790085 6.28996L2.20008 7.70996Z" fill="#A3B3CC")
