svg(width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg").logo-block
    path(
        d="M25.1836 10.7398C25.4998 11.1678 25.6214 11.5958 25.6457 11.9762V12.0238C25.6214 12.4042 25.4755 12.8322 25.1836 13.2601C24.3567 14.4252 18.6655 23.4128 18.6655 23.4128C18.6655 23.4128 18.179 24.3163 17.0602 23.2939C16.8417 23.0915 16.7918 23.0486 16.7459 23.0018C16.6947 22.9497 16.6485 22.8926 16.3792 22.6044C15.8442 22.0337 15.4307 20.8687 16.817 18.9665C18.325 16.9217 19.8815 14.5916 20.8544 13.0224C21.0246 12.7608 21.0976 12.4042 21.0976 12.0713V11.9287C21.0976 11.5958 21.0246 11.2391 20.8544 10.9776C19.8815 9.43212 18.325 7.07823 16.817 5.03344C15.4064 3.13131 15.8442 1.96626 16.3792 1.39562C16.6485 1.10736 16.6947 1.05032 16.7459 0.998159C16.7918 0.95136 16.8417 0.908484 17.0602 0.706097C18.179 -0.316297 18.6655 0.587214 18.6655 0.587214C18.6655 0.587214 24.3567 9.57478 25.1836 10.7398Z"
        fill="inherit"
    )
    path(
        d="M4.24545 11.3105C4.24545 11.5483 4.31841 11.7861 4.44002 11.9763C5.12102 13.07 6.23981 14.7344 7.28564 16.1847C8.28282 17.5162 7.82071 17.9918 7.40725 18.3484C7.1154 18.6159 6.89195 18.8031 6.64457 19.0104C6.56209 19.0795 6.47696 19.1509 6.38574 19.2281C5.55881 19.9177 5.12103 19.1093 5.12103 19.1093C5.12103 19.1093 1.2539 12.9987 0.670181 12.1665C0.451287 11.8574 0.378325 11.5483 0.354004 11.2867C0.378325 11.0014 0.451287 10.7161 0.670181 10.407C1.2539 9.57483 4.99942 3.67823 4.99942 3.67823C4.99942 3.67823 5.48584 2.75094 6.38574 3.34536C6.72624 3.58312 7.04242 3.84466 7.40725 4.22509C7.42533 4.24512 7.44371 4.26516 7.4622 4.28531C7.8167 4.6717 8.21028 5.10067 7.28564 6.38876C6.23981 7.81536 5.12102 9.47972 4.44002 10.5734C4.31841 10.7637 4.24545 11.0728 4.24545 11.3105Z"
        fill="inherit"
    )