svg(width="44" height="42" viewBox="0 0 44 42" fill="none" xmlns="http://www.w3.org/2000/svg").logo-block
    path(
        d="M42.8864 18.8397C43.4284 19.5734 43.6369 20.3071 43.6785 20.9592V21.0407C43.6369 21.6929 43.3867 22.4266 42.8864 23.1603C41.4688 25.1575 31.7123 40.5647 31.7123 40.5647C31.7123 40.5647 30.8785 42.1136 28.9605 40.3609C28.5859 40.014 28.5003 39.9405 28.4216 39.8603C28.3339 39.7708 28.2546 39.6731 27.7931 39.1789C26.8758 38.2007 26.167 36.2034 28.5436 32.9426C31.1286 29.4373 33.7971 25.4428 35.4648 22.7527C35.7567 22.3043 35.8818 21.6929 35.8818 21.1223V20.8777C35.8818 20.3071 35.7567 19.6957 35.4648 19.2473C33.7971 16.5979 31.1286 12.5627 28.5436 9.05733C26.1253 5.79654 26.8758 3.7993 27.7931 2.82106C28.2546 2.32691 28.3339 2.22913 28.4216 2.1397C28.5003 2.05947 28.5859 1.98597 28.9605 1.63902C30.8785 -0.113653 31.7123 1.43522 31.7123 1.43522C31.7123 1.43522 41.4688 16.8425 42.8864 18.8397Z"
        fill="inherit"
    )
    path(
        d="M6.99234 19.818C6.99234 20.2256 7.11741 20.6332 7.32588 20.9593C8.49332 22.8343 10.4112 25.6875 12.2041 28.1738C13.9135 30.4564 13.1214 31.2716 12.4126 31.883C11.9123 32.3415 11.5292 32.6625 11.1051 33.0178C10.9637 33.1363 10.8178 33.2586 10.6614 33.3911C9.24381 34.5731 8.49332 33.1873 8.49332 33.1873C8.49332 33.1873 1.86396 22.712 0.863307 21.2854C0.48806 20.7555 0.362983 20.2256 0.321289 19.7773C0.362983 19.2882 0.48806 18.799 0.863307 18.2692C1.86396 16.8426 8.28485 6.7341 8.28485 6.7341C8.28485 6.7341 9.11873 5.14447 10.6614 6.16347C11.2451 6.57107 11.7872 7.01942 12.4126 7.67158C12.4436 7.70593 12.4751 7.74027 12.5068 7.77481C13.1145 8.43719 13.7892 9.17257 12.2041 11.3807C10.4112 13.8263 8.49332 16.6795 7.32588 18.5545C7.11741 18.8806 6.99234 19.4104 6.99234 19.818Z"
        fill="inherit"
    )