svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg").icon-block
    path(
        d="M15.6882 0.00439453H8.32055C1.59649 0.00439453 0.00439453 1.59649 0.00439453 8.32055V15.6882C0.00439453 22.4123 1.59649 24.0044 8.32055 24.0044H15.6882C22.4123 24.0044 24.0044 22.4123 24.0044 15.6882V8.32055C24.0044 1.59649 22.3953 0.00439453 15.6882 0.00439453ZM19.3805 17.1279H17.636C16.9755 17.1279 16.7722 16.6028 15.5866 15.4003C14.5534 14.401 14.0961 14.2655 13.8421 14.2655C13.4864 14.2655 13.3848 14.3671 13.3848 14.8583V16.4335C13.3848 16.8569 13.2493 17.111 12.1314 17.111C10.2853 17.111 8.23587 15.9931 6.7962 13.9098C4.62825 10.8611 4.03544 8.57461 4.03544 8.10037C4.03544 7.84631 4.13707 7.60919 4.62824 7.60919H6.37278C6.81314 7.60919 6.98251 7.81244 7.15189 8.28668C8.01568 10.7764 9.45534 12.9613 10.0481 12.9613C10.2683 12.9613 10.37 12.8597 10.37 12.3008V9.72634C10.3022 8.54074 9.67553 8.43911 9.67553 8.01569C9.67553 7.81244 9.8449 7.60919 10.1159 7.60919H12.8597C13.2323 7.60919 13.3678 7.81244 13.3678 8.25281V11.7249C13.3678 12.0975 13.5372 12.233 13.6388 12.233C13.859 12.233 14.0453 12.0975 14.4518 11.6911C15.7052 10.2853 16.6028 8.11731 16.6028 8.11731C16.7214 7.86325 16.9246 7.62613 17.365 7.62613H19.1095C19.6346 7.62613 19.7531 7.89712 19.6346 8.26974C19.4144 9.28597 17.2803 12.3008 17.2803 12.3008C17.094 12.6057 17.0263 12.7412 17.2803 13.0799C17.4666 13.334 18.0764 13.859 18.4829 14.3333C19.2281 15.1801 19.804 15.8915 19.9564 16.3827C20.1258 16.8738 19.8717 17.1279 19.3805 17.1279Z"
        fill="inherit"
        fill-rule="evenodd"
        clip-rule="evenodd"
    )

