svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg").icon-block
    path(
            d="M24 22.6753C24 23.4069 23.4069 24 22.6755 24H16.5595V14.706H19.6791L20.1462 11.0839H16.5595V8.77142C16.5595 7.72274 16.8507 7.0081 18.3545 7.0081L20.2725 7.00726V3.76764C19.9408 3.7235 18.8022 3.62488 17.4776 3.62488C14.7123 3.62488 12.819 5.31286 12.819 8.4127V11.0839H9.69141V14.706H12.819V24H1.32462C0.592836 24 0 23.4068 0 22.6753V1.32461C0 0.592925 0.59293 0 1.32462 0H22.6755C23.407 0 24 0.592925 24 1.32461V22.6753Z"
            fill="inherit"
        )

