include ../../../node_modules/bemto.pug/bemto

include blocks/layout/structure
include blocks/menu/menuList
include blocks/layout/head
include blocks/layout/footer
include blocks/menu/menu
include blocks/formFields/inputTextField
include blocks/formFields/switcherField
include blocks/formFields/textareaField
include blocks/formFields/attachField
include blocks/formFields/submitField
include blocks/formFields/agreementField

include ui/circled-arrow-bullet

include forms/formResume
include forms/formEstimate
include forms/formPhoneNumberPrompt
include forms/hiddenField
include forms/hiddenFormTitle
include forms/formSign
include forms/inputLocationPage

include modals/modal
include modals/modalResult
include modals/modalResume
include modals/modalEstimate
include modals/modalCaseBank
include modals/modalCaseSocial
include modals/modalCaseHr
include modals/modalCaseMobile
include modals/modalCaseBuilder
include modals/modalCaseLoyality

include audit/auditAnalyzing
include audit/formPriceAudit
include audit/analyzing

include about/about
include cases/case
include services/services
include features/features
include technologies/technologies
include risks/risks
include market/market
include blog/blog
include reviews/reviewCard
include reviews/reviews
include reviews/reviewCardContainer
include specproject/specproject
include blog/header_blog
include blog/filter
include blog/articleBlock
include blog/articles_blog
include blog/articleDetail
include blog/otherArticles
include consult/consult

include benefit/header_benefit
include benefit/articles_benefit
include benefit/benefitBlock
include benefit/benefitDetail

include difference/difference
include experience/experience
include first/first
include first/partners

include reviews/reviewCard

include outstaffing/first/firstOutsuffing
include outstaffing/first/firstBlockCard
include outstaffing/certificationDevelopers/certificationDevelopers
include outstaffing/benefits/outstaffBenefits
include outstaffing/services/outstaffServices
include outstaffing/approachToWork/approachToWork
include outstaffing/technologies/technologiesBackend
include technologies/technologiesSeparateStack
include outstaffing/ourPartners/ourPartners
include outstaffing/price/outstaffPrices
include outstaffing/seeAlso/outstaffSeeAlso
include outstaffing/techStack/techStack
include outstaffing/uses/uses
include outstaffing/devopsMethodology/devopsMethodology
include outstaffing/selectionOfSpecialists/selectionOfSpecialists
include outstaffing/techOverview/strapiOverview

include neuroMarch/mainNeuroMarch/mainNeuroMarch
include neuroMarch/mainNeuroMarch/mainNeuroMarchUnique
include neuroMarch/formGenerateCard/formGenerateCard

include receipt-ocr/mainReceiptOcr
