mixin modalCaseHr()
  -
    var content = [
    {
    number: '01',
    title: 'CRM-система',
    items: [
    'Настройка и интеграция сервиса для Voip-телефонии ',
    'Трекер задач для сбора и аналитики данных по проблемам клиентов',
    'Сбор данных для анализа эффективности входящих и исходящих звонков'
    ]
    },
    {
    number: '04',
    title: 'Мобильное приложение для соискателей'
    },
    {
    number: '02',
    title: 'Автоматические помощники для подбора кандидатов или вакансий',
    },
    {
    number: '03',
    title: 'Легко масштабируемый процесс-разработки',
    items: [
    'Микросервисная архитектура',
    'Децентрализованное хранение данных',
    'Непрерывная доставка и развертывание',
    'Автономность команд-разработчиков',
    'Быстрое внедрение новых технологий'
    ]
    }
    ]

  +modal('hr', 'case')
    +case('hr', 'social', 'mobile', content, true)
      span Платформа по подбору персонала