mixin modalCaseMobile()
  -
    var content = [
    {
    number: '01',
    title: 'Приложение по подбору персонала',
    items: [
    'Инстант-мессенджер для общения между соискателем и работодателем',
    'Запись сообщений через камеру мобильного телефона',
    'Заполнение резюме и поиск вакансий через общение с чат-ботом',
    'Пуш-уведомления с напоминанием о собеседовании',
    'Распознавание геолокации для подбора ближайших вакансий в городе'
    ]
    },
    {
    number: '02',
    title: 'Приложение для краудсорсинговой социальной-сети',
    items: [
    'Личный кабинет со всеми активностями пользователя',
    'Пуш-уведомления с напоминанием об очередном этапе активности'
    ]
    }
    ]

  +modal('mobile', 'case')
    +case('mobile', 'hr', 'builder', content)
      span Кроссплат&shy;форменные мобильные приложения