mixin modalCaseBuilder()
  -
    var content = [
    {
    number: '01',
    title: 'Гибкое конструирование структуры сайта'
    },
    {
    number: '02',
    title: 'Реализация динамического добавления языковых версий'
    },
    {
    number: '03',
    title: 'Возможность организации более 150 сайтов на одной платформе',
    },
    {
    number: '04',
    title: 'Бизнес процессы публикации контента'
    },
    {
    number: '05',
    title: 'Возможность предварительно просматривать измененные сайты до публикации'
    }
    ]

  +modal('builder', 'case')
    +case('builder', 'mobile', 'loyality', content)
      span Сайт крупного представи&shy;тельства