mixin modalCaseSocial()
  -
    var content = [
    {
    number: '01',
    title: 'Система постановки и контроля заданий от кураторов'
    },
    {
    number: '02',
    title: 'Расчет рейтинга участников на основе выполненных заданий'
    },
    {
    number: '03',
    title: 'Многоэтапные регламентированные процессы выполнения заданий',
    },
    {
    number: '04',
    title: 'Мобильное приложение для участников'
    }
    ]

  +modal('social', 'case')
    +case('social', 'bank', 'hr', content)
      span Социальная сеть активной молодежи