mixin modalCaseLoyality()
  -
    var content = [
    {
    number: '01',
    title: 'Личный кабинет для менеджеров отделений банка для инвестирования в ценные бумаги клиентов affluent сегмента',
    items: [
    'Разработка фронтенда личного кабинета',
    'Интеграция с провайдером инвестиций'
    ]
    },
    {
    number: '02',
    title: 'Создание процесса регистрации неклиента банка через госуслуги для инвестирования в ценные бумаги через 5 минут после регистрации, без посещения отделения банка'
    },
    {
    number: '03',
    title: 'Разработка личного кабинета для клиентов mass сегмента для инвестирования в ценные бумаги через интерфейс'
    }
    ]

  +modal('loyality', 'case')
    +case('loyality', 'builder', 'bank', content, true)
      span Управление инвестициями