mixin modalCaseBank()
  -
    var content = [
    {
    number: '01',
    title: 'Обеспечение безопасности с помощью электронной цифровой подписи (ЭЦП)',
    items: [
    'Авторизация в личном кабинете клиента по ЭЦП с проверкой полной цепочки сертификатов',
    'Подписание документов при помощи ЭЦП',
    'Расшифровка данных и проверка на валидность документов с ЭЦП'
    ]
    },
    {
    number: '04',
    title: 'Динамическое формирование печатных документов на основе заполнения анкетных данных'
    },
    {
    number: '02',
    title: 'Автоматизация процессов работы со сделками',
    },
    {
    number: '03',
    title: 'Различные типы личных кабинетов пользователей',
    items: [
    'Агенты',
    'Менеджеры',
    'Аккаунты',
    'Сотрудники отделов',
    'Финансовый директор'
    ]
    }
    ]

  +modal('bank', 'case')
    +case('bank', 'loyality', 'social', content, true)
      span Система сопровожде&shy;ния банковских услуг