.map-wrapper {
  padding-left: 64px;
}

.map {
  width: 100%;
  height: 500px;

  .gmnoprint,
  .gm-style-cc {
    display: none !important;
  }
}

@media #{$desktop-small-down} {
  .map-wrapper {
    padding-left: 48px;
  }
}

@media #{$mobile-down} {
  .map-wrapper {
    padding-left: 32px;
  }

  .map {
    height: 208px;
  }
}