mixin searchButton()
    svg(width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" clip-rule="evenodd"
                d="M8 0C3.58172 0 0 3.58172 0 8V28C0 32.4183 3.58172 36 8 36H28C32.4183 36" +
                " 36 32.4183 36 28V8C36 3.58172 32.4183 0 28 0H8ZM29.0607 16.9393L19.5147 " +
                "7.3934C18.9289 6.80761 17.9792 6.80761 17.3934 7.3934C16.8076 7.97919 16.8076" +
                " 8.92893 17.3934 9.51472L24.3787 16.5H8C7.17157 16.5 6.5 17.1716 6.5 18C6.5 18.8284 " +
                "7.17157 19.5 8 19.5H24.3787L17.3934 26.4853C16.8076 27.0711 16.8076 28.0208 17.3934 " +
                "28.6066C17.9792 29.1924 18.9289 29.1924 19.5147 28.6066L29.0607 19.0607C29.6464 18.4749" +
                " 29.6464 17.5251 29.0607 16.9393Z"
                fill="#DBE3F0")

