mixin agreementField(btnText)
  .form__field
    p.form__notification
      | Нажимая кнопку «!{btnText}», я даю
      =" "
      a.form__link(href="/documents/rules_protection_worksolutions.ru.pdf", target="_blank") согласие на обработку персональных данных